.description {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.preferenceSection {
  max-width: 600px;
  margin: 2rem auto 3rem;
}

.preferenceSection label {
  font-size: 1.1rem;
  font-weight: bold;
}

.preferenceSection input {
  margin-bottom: 0;
}

.preferenceSection button {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1rem;
  width: fit-content;
  transition-duration: 0.4s;
  border: none;
}

.preferenceSection button:not(.disabled):active,
.preferenceSection button:active,
.preferenceSection button:hover,
.preferenceSection button:focus {
  background-color: gray;
}

.preferenceSection button:disabled {
  background-color: rgb(0, 0, 0, 0.8);
  font-family: 'Josefin Sans', sans-serif;
}
